@import './fonts';
@import './global';
@import './vars';

//start header
.header__top {
  font-size: 1.5rem;
  line-height: 2.4rem;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  align-content: center;
}

.header__text {
  margin-left: auto;
  margin-right: 50px;
  span {
    color: $red;
  }
}

.header__btn {
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;

  &-login {
    background-color: $green;
  }
  &-register {
    background-color: $red;
    margin-left: 7px;
  }
}

.header__menu {
  background-color: $bg;
}

.menu {
  display: flex;
  align-items: center;
  height: 60px;

  &__list {
    li {
      display: inline-block;
      & + li {
        margin-left: 30px;
      }
    }
  }
  a {
    color: #fff;
    font-size: 1.4rem;
  }
}
//end header

//start search
.search {
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 533px;
}

.search__inner {
  padding: 160px 0px 100px;
  color: #fff;
  text-align: center;

  &-title {
    margin-bottom: 10px;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 7.2rem;
  }
  &-text {
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
  }
  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input {
      display: block;
      width: 100%;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      height: 56px;
      border: none;
      font-size: 1.4rem;
      font-weight: 500;
      outline: none;
      padding-left: 25px;
      padding-right: 6px;
      &::placeholder {
        color: #90a4ae;
        font-weight: 500;
      }
      &:focus {
        border: 1px solid $green;
      }
    }
    button {
      position: absolute;
      border: none;
      background-color: transparent;
      right: 20px;
      top: 16px;
    }
  }
}
//end search

//start products
.products {
  padding: 100px 0px;
  background-color: $gray;
}

.products__inner-btn {
  text-align: center;
  margin-bottom: 60px;
  button {
    padding: 12px 21px;
    border: none;
    background-color: #fff;
    color: $bg;
    cursor: pointer;
    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
    }
    & + button {
      margin-left: 5px;
    }
  }
}

.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__item {
  margin-bottom: 30px;
  max-width: 442px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, .75);
  &-img {
    min-height: 250px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
  }
  &-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    min-height: 90px;
    font-weight: 500;
    border-bottom: 1px solid #e7ecf2;
  }
  &-name {
    max-width: 310px;
  }
  &-title {
    color: $bg;
    font-size: 1.8rem;
    display: block;
  }
  &-category {
    font-size: 1.4rem;
    display: block;
    color: $green;
  }
  &-price {
    font-size: 2rem;
    font-weight: 700;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
    font-size: 1.4rem;
  }
  &-author {
    display: flex;
    align-items: center;
    max-width: 245px;
    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 14px;
    }
    .username {
      font-weight: 500;
      font-size: 1.4rem;
    }
  }
}

.products__bottom-btn {
  text-align: center;
  button {
    margin: 45px 5px 0px 5px;
    box-shadow: 0px 1px 3px 0px rgba(204, 215, 228, 0.75);
    border: none;
    color: $bg;
    background-color: #fff;
    padding: 20px 30px;
    cursor: pointer;
    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
    }
  }
}

.rate-star{
  display: inline-block;
  margin-right: 13px;
}
//end products

//start product-slider
.product-slider {
  padding: 110px 0px 120px;
  .slick-dots {
    text-align: center;
    margin-top: 50px;
    li {
      display: inline-block;
      margin: 0px 3px;
      &.slick-active {
        button {
          background-color: $green;
        }
      }
      button {
        border-radius: 50%;
        width: 16px;
        height: 16px;
        background-color: rgb(232, 232, 232);
        border: none;
        font-size: 0;
        cursor: pointer;
        outline: none;
      }
    }
  }
}

.Ellipse_6 {
  border-radius: 50%;
  background-color: rgb(232, 232, 232);
  position: absolute;
  left: 915px;
  top: 2761px;
  width: 22px;
  height: 22px;
  z-index: 168;
}


//end product-slider